<root>
  <client clientlogo="no_logo.png" clientname="No Client"/>
  <modules>
    <mod title="VISIBILITY" labelstart="bottom">
      <dna visible="true" title="SEO" painpoint="true"/>
      <dna visible="true" title="PAID SEARCH" painpoint="true"/>
      <dna visible="true" title="PAID SOCIAL" painpoint="true"/>
      <dna visible="true" title="PERFORMANCE DISPLAY" painpoint="false"/>
      <dna visible="true" title="COMMUNITY GROWTH" painpoint="false"/>
      <dna visible="true" title="ACQUISITION EMAIL" painpoint="false"/>
      <dna visible="true" title="AFFILIATE MARKETING" painpoint="false"/>
    </mod>
    <mod title="PERSUASION" labelstart="top">
      <dna visible="true" title="WEB ANALYTICS SETUP" painpoint="true"/>
      <dna visible="true" title="USER CENTRIC DESIGN" painpoint="false"/>
      <dna visible="true" title="USER EXPERIENCE" painpoint="true"/>
      <dna visible="true" title="CONTENT RELEVANCE" painpoint="true"/>
      <dna visible="true" title="SCENT OPTIMISATION" painpoint="false"/>
      <dna visible="true" title="PRODUCT DISPLAY" painpoint="false"/>
      <dna visible="true" title="TECHNOLOGY" painpoint="false"/>
    </mod>
    <mod title="INTERACTION" labelstart="bottom">
      <dna visible="true" title="SOCIAL INTERACTION" painpoint="true"/>
      <dna visible="true" title="TOUCH POINTS" painpoint="false"/>
      <dna visible="true" title="ENQUIRY MANAGEMENT" painpoint="true"/>
      <dna visible="true" title="eCRM" painpoint="false"/>
      <dna visible="true" title="SHOPPING PROCESS" painpoint="false"/>
      <dna visible="true" title="BRAND ENGAGEMENT" painpoint="false"/>
      <dna visible="false" title="" painpoint="false"/>
    </mod>
  </modules>
  <kpis active="true">
    <kpi label="Current Visibility" value="80000" units="Visitors" additional=""/>
    <kpi label="Current Persuasion" value="1360" units="Leads" additional="1.7%"/>
    <kpi label="Current Interaction" value="150" units="Sales" additional="11%"/>
  </kpis>
  <targets active="true">
    <target initiallabel="Current Visibility" initialvalue="80000" initialunits="Visitors" targetlabel="Visibility Target" targetvalue="100000" targetunits="Visitor Target" additional="+25%"/>
    <target initiallabel="Current Persuasion" initialvalue="1360" initialunits="Leads" targetlabel="Target Persuasion" targetvalue="2400" targetunits="Lead Target" additional="+41%"/>
    <target initiallabel="Current Interaction" initialvalue="150" initialunits="Sales" targetlabel="Target Interaction" targetvalue="432" targetunits="Sales Target" additional="+63%"/>
  </targets>
</root>